<% if (errors) {%>
  <% errors.forEach(function (error) { %>
    <%= __(error) %>
  <% }) %>
<% } %>

<h2>Not registered yet?</h2>
<p>
No problem - just go ahead and sign in using one of our providers. We will then
sort you out after you have logged in. 
</p>
<% if (Object.keys(providers).length) {%>
  <h2>Login</h2>

  <% Object.keys(providers).forEach(function (key) { %>
    <a href="/auth/<%= providers[key].slug %>" role="button"><button><%= providers[key].name %></button></a>
  <% }) %>
<% } %>
