<!-- Default home page -->
<div ng-app="SettSail" ng-controller="BaseCtrl"> 
    <h1>Mainpage</h1>

    <ul ng-repeat="item in items">
        <li>{{item.id}}: {{item.text}}</li>
    </ul>

    <h2>How api works</h2>
    <ul>
        <li>Generate api with: 
            <tt>
                sails generate api items
            </tt>
        </li>
        <li>Add item at the url:
            <tt>
                /items/create?text=foo
            </tt>
        </li>
        <li>Delete item at the url:
            <tt>
                /items/destroy?id=2
            </tt>
        </li>
    </ul>

    <h2>Adding MongoDB</h2>
    <ul>
        <li><tt>brew install mongodb</tt></li>
        <li><tt>mkdir -p /some/path/to/mongodb/data/db</tt></li>
        <li>Then run mongo by <tt>mongod --dbpath
                /some/path/to/mongodb/data/db</tt>. The default dbpath is 
            <tt>/data/db</tt>, i.e. used if not specified.</li>
        <li>When using e.g. MongoLabs, set the <tt>MONGOLAB_URI</tt> with the
            connection string in your environment, and use <tt>url:
                process.env.MONGOLAB_URI</tt> in the DB adapter settings in
            connections.js</li>
    </ul>
</div>
